/**
* Autor: Valerio Sampognaro 
* Datum: Unbekannt
* Aufgabe: Definitionen des Styles des Portals
*/
html {
background-color: #e1eee6;
}

a:link {
color:#1EADEB;
text-decoration: none
}

a:visited {
color:#1EADEB;
text-decoration: none
}

a:hover {
color:#32C4FF;
text-decoration: none
}

a:active {
color:#3d7ca8;
text-decoration: none
}
/*Anordnung der Userfunktionen auf der Homeseite*/
.home{
padding-left: 40px; 
padding-top: 100px;
}
.homeApp1.Title{
width:500px;
height: 30px;
background-color:#131713;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-khtml-border-radius:4px;
behavior:url(style/border-radius.htc);
position: absolute;
line-height: 28px;
}
.homeApp1.Title lable{
padding-left: 12px !important;
color: #FFFFFF;
}
.homeApp1.Box{
position: relative;
padding-top: 25px;
border: 1px solid #000000 !important;
width: 498px
}
.homeApp1.Box ul
{
list-style-type: none;
line-height: 28px;
}

.homeApp2.Title{
margin-top: -170px;
margin-left: 800px;
margin-bottom: -170px;
width:100px;
height: 30px;
background-color:#131713;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-khtml-border-radius:4px;
behavior:url(style/border-radius.htc);
position: absolute;
line-height: 28px;
}
.homeApp2.Title lable{
padding-left: 12px !important;
color: #FFFFFF;
}
.homeApp2.Box{
margin-left: 800px;
margin-top: -140px;
position: absolute;
padding-top: 25px;
border: 1px solid #000000 !important;
width: 98px
}
.homeApp2.Box img{
padding-left:15px;
}

/** Filmbeschreibung */
.Beschreibung{
margin-top: 400px;
}
.Beschreibung.Title{
margin-left: 40px;
margin-top: -220px !important;
width:600px;
height: 20px;
background-color:#131713;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-khtml-border-radius:4px;
behavior:url(style/border-radius.htc);
position: absolute;
line-height: 18px;
}
.Beschreibung.Title lable{
padding-left: 12px !important;
color: #FFFFFF;
font-size: 14px;
}
.Beschreibung.Box{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: default;
margin-top: -220px !important;
margin-left: 40px;
padding-top: 25px;
width:598px;
position: absolute;
border: 1px solid #000000 !important;
}
.Beschreibung.Box p{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: default;
padding-left: 12px !important;
padding-right: 12px !important;
line-height: 16px;
font-size: 14px;
text-align: justify;
}

/** Upload Formular*/
.upload{
margin-top: 100px;
margin-left: 20px;
}
.upload.Title{
width:600px;
height: 30px;
background-color:#131713;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-khtml-border-radius:4px;
behavior:url(style/border-radius.htc);
position: absolute;
line-height: 28px;
}
.upload.Title lable{
padding-left: 12px !important;
color: #FFFFFF;
}
.upload.Box{
padding-top: 25px;
width:598px;
position: absolute;
border: 1px solid #000000 !important;
}
.upload.Box ul{
list-style-type: none;
padding-left: 20px;
line-height: 28px;
}


/*Definition der Suche*/
.Suche{
margin-top: 40px;
margin-left: 20px;
}
.Suche.Title{
width:400px;
height: 30px;
background-color:#131713;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-khtml-border-radius:4px;
behavior:url(style/border-radius.htc);
position: absolute;
line-height: 28px;
}
.Suche.Title lable{
padding-left: 12px !important;
color: #FFFFFF;
}
.Suche.Box{
padding-top: 40px;
width:398px;
position: absolute;
border: 1px solid #000000 !important;
}
.Suche.Box input{
margin-left:10px;
margin-bottom: 10px;
}












/*Navigationsleiste oben*/
#navibar {
height: 27px;
background-color: #151515;
margin-top: 0px;
width: 1000px;
margin-right: auto;
margin-left: auto;
-moz-border-radius:6px;
-webkit-border-radius:6px;
-khtml-border-radius:6px;
border-radius:6px;
behavior:url(style/border-radius.htc);
}

/*Home-Button, erster*/
#home {
background-image: url("home.png");
background-repeat: no-repeat;
background-position: center top;
margin-left: 7px;
margin-top: 7px;
position: absolute;
height: 22px;
width: 20px;
}

/*Home-Button mit Mouseover*/
#home:hover {
background-image: url("homehover.png");
}

/*Filme-Button, zweiter*/
#filme {
color: #f7f7f7;
font-family: Verdana, Arial, sans-serif;
font-size: 0.9em;
text-decoration: none;
line-height: 28px;
margin-left: 151px;
position: absolute;
}

/*Filme-Button mit Mouseover*/
#filme:hover {
color: #d1d1d1;
}

/*Bilder-Button, dritter*/
#bilder {
color: #f7f7f7;
font-family: Verdana, Arial, sans-serif;
font-size: 0.9em;
text-decoration: none;
line-height: 28px;
margin-left: 320px;
position: absolute;
}

/*Bilder-Button mit Mouseover*/
#bilder:hover {
color: #d1d1d1;
}

/*Dokumente-Button, vierter*/
#dokumente {
color: #f7f7f7;
font-family: Verdana, Arial, sans-serif;
font-size: 0.9em;
text-decoration: none;
line-height: 28px;
margin-left: 500px;
position: absolute;
}

/*Dokumente-Button mit Mouseover*/
#dokumente:hover {
color: #d1d1d1;
}

/*Musik-Button, f�nfter*/
#musik {
color: #f7f7f7;
font-family: Verdana, Arial, sans-serif;
font-size: 0.9em;
text-decoration: none;
line-height: 28px;
margin-left: 717px;
position: absolute;
}

/*Musik-Button mit Mouseover*/
#musik:hover {
color: #d1d1d1;
}

/*Landkarten-Button, sechster*/
#landkarten {
color: #f7f7f7;
font-family: Verdana, Arial, sans-serif;
font-size: 0.9em;
text-decoration: none;
line-height: 28px;
margin-left: 891px;
position: absolute;
}

/*Landkarten-Button mit Mouseover*/
#landkarten:hover {
color: #d1d1d1;
}

/*Pfeil, der den jeweils aktiven Button markiert*/
/*
#pfeil {
background-image: url("style/arrow.png");
background-repeat: no-repeat;
background-position: center top;
margin-top: 25px;
z-index: 10;
width: 19px;
height: 9px;
}
*/
/*Gesamter Inhalt*/
#content {
font-family: Verdana, Arial, sans-serif;

width: 1000px;
height: 840px;

margin-top: 12px;
margin-right: auto;
margin-left: auto;
border: 1px solid #bbbbbb;
background-color: #f7f7f7;
-moz-border-radius:6px;
-webkit-border-radius:6px;
-khtml-border-radius:6px;
border-radius:6px;
behavior:url(style/border-radius.htc);
}

/* Anmeldeformular für die Mediathek wird im der index.php verwendet*/
/*Änderungen am 9.2.2012 um 23.32 von Leon Bergmann*/
#login_form {

/* Abstand und Ausrichtung des Elements */
margin-top: 150px;
margin-left: auto;
margin-right: auto;
width: 300px;

/* Schrift Definition*/
color: #FFFFFF;
font-weight: bold;
font-size: 16px;

/* Schatten für den Login + Hintergrundfarbe */
border: 1px solid #bbbbbb;
background-color: #AAABB0;
-moz-border-radius:6px;
-webkit-border-radius:6px;
-khtml-border-radius:6px;
border-radius:6px;
behavior:url(style/border-radius.htc);
}

/* Unterklasse login_form li*/
/* Änderungen am 10.2.2012 00:31 von Leon Bergmann */
#login_form li{
list-style-type: none;
}
#login_form a{
color: #FFFFFF;
}
#login_form a:hover{
color: #FF0000;
}
/*Registerformular von Leon Bergmann am 22.2.2012 um 23:28*/
#register_form {

/* Abstand und Ausrichtung des Elements */

margin-left: auto;;
margin-right: auto;
width: 300px;

/* Schrift Definition*/
color: #FFFFFF;
font-weight: bold;
font-size: 16px;

/* Schatten für den register + Hintergrundfarbe */
border: 1px solid #bbbbbb;
background-color: #AAABB0;
-moz-border-radius:6px;
-webkit-border-radius:6px;
-khtml-border-radius:6px;
border-radius:6px;
behavior:url(style/border-radius.htc);
}

/* Unterklasse register_form li*/
#register_form li{
list-style-type: none;
}

/* Anzeigeart der Fehlermeldung */
/* Änderungen am 10.2.2012 00:12 von Leon Bergmann */
#warnings{
margin-top: 150px;
margin-left: auto;
margin-right: auto;
color: #FF0000;
font-size: 24px;
font-weight: bold;
text-align: center;
}
/** Definition der Passwort ändern Funktion Fehlermeldung */
#warningsPW{
color: #FF0000;
font-size: 24px;
font-weight: bold;
text-align: center;
}
#successPW{
color: #00FF00;
font-size: 24px;
font-weight: bold;
text-align: center;
}
/** Upload Fehlermedlungen*/
#warningsUpload{
color: #FF0000;
font-size: 12px;
font-weight: bold;
text-align: center;
}
#googlemaps {
margin-left: auto;
margin-right: auto;
}

h1 {
text-align: center;
}

#mediaplayer {
margin-left: 40px;
}

#filmausgabe
{
margin-left: 40px;
margin-top: -190px;
width:620px;
border-top: 0px dashed #999999;
border-right: 0px dashed #999999;
border-bottom: 0px dashed #999999;
border-left: 1px dashed #999999;
overflow: visible;
padding-left:10px;
}

/* blabla */

.grpelem {
	display: inline;
	float: left;
}

.preload_images {
	position: absolute;
	overflow: hidden;
	left: -9999px;
	top: -9999px;
	height: 1px;
	width: 1px;
}

preload {
	height: 1px;
	width: 1px;
}